@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;300;500;700;900&display=swap');

.layout{
    
    margin: 0;
    padding: 0;
    min-height: 100vh;
    color: #fff;
    font-family: 'Raleway', sans-serif;
}


.mainContent{
    padding: 5rem 10rem;
    background-color: blueviolet;
}
.nav{
    background-color: #fff;
}

.navList{
    list-style: none;
    background-color: #fff;
    padding: 1rem 3rem;
}

.navList li{
    display: inline-block;
    padding-right: 1rem;
}

.navList li a{
    padding: 0.5rem 0;
    color: rgb(171, 3, 177);
}

.footer p{
    color: rgb(171, 3, 177);
    text-align: center; 
    padding: 2rem;
}